In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#En resumen de la actividad anterior tenemos
url1 = "https://raw.githubusercontent.com/HumbertoMezaRuiz/FisicaComputacional1/main/Actividad1/diarios.txt"#Definimos este link para usar el texo desde ahi

encabezado = ['Fecha','Precipit','Evap','Tmax','Tmin']#Definimos aqui los encabezados para tener mas orden al definir el df

#Ahora definimos nuestro df, donde como archivo pondremos el link url1 y en names, los encabezado definidos previamente
df_dist = pd.read_csv(url1, names=encabezado, encoding='cp1251', sep='\s+', skiprows=19, skipfooter=2, header=None, engine='python')

df_work0 = df_dist.copy()     #Hacemos una copia de nuestros datos para manipularlos sin miedo a perderlos

str_Nulo = 'Nulo'    #Aqui pondremos lo que querramos quitar, es decir, en mis datos hay datos que dicen 'nulos'

df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)        #Reemplazamos todos los nulos, en este caso, quedara en blanco

# Deseamos convertir los valores de las variables ambientales a núm. flotantes 
cols_list = ['Precipit', 'Evap', 'Tmax', 'Tmin']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

df_work2 = df_work1.copy() #hacemos otra copia para hacer otro cambio

df_work2['Fecha']=pd.to_datetime(df_work2['Fecha'], dayfirst=True).copy() #Le decimos a python que esa columna son fehcas y le decimos que el primer numero son los dias

df_work2['Año'] = df_work2['Fecha'].dt.year  #Vamos a crear una columna con el año de las fechas

df_work2['Mes'] = df_work2['Fecha'].dt.month #y otras con el mes
 
############################################################################################################################################
df_meteo = df_work2.copy()# Definimos un nuevo DataFrame para el análisis de los datos meteorológicos.
df_meteo.info()
print(df_meteo.head())
print(df_meteo.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6898 entries, 0 to 6897
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fecha     6898 non-null   datetime64[ns]
 1   Precipit  6774 non-null   float64
 2   Evap      823 non-null    float64
 3   Tmax      6818 non-null   float64
 4   Tmin      6812 non-null   float64
 5   Año       6898 non-null   int64
 6   Mes       6898 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 377.4 KB
       Fecha  Precipit  Evap  Tmax  Tmin   Año  Mes
0 1973-03-01       0.0   NaN  29.0  12.0  1973    3
1 1973-03-02       0.0   NaN  30.0  12.0  1973    3
2 1973-03-03       0.0   NaN  29.0   9.0  1973    3
3 1973-03-04       0.0   NaN  28.0   8.0  1973    3
4 1973-03-05       0.0   NaN  28.0   7.0  1973    3
          Fecha  Precipit  Evap  Tmax  Tmin   Año  Mes
6893 2016-03-26       0.0   NaN  30.0  11.0  2016    3
6894 2016-03-27       0.0   NaN  30.0  11.0  2016    3
6895 2016-03-28       0.0   NaN  28.0  12.0  2016    3
6896 2016-03-29       0.0   NaN  28.0  11.0  2016    3
6897 2016-03-30       0.0   NaN  29.0  12.0  2016    3